/******************** Colors ********************/

$Primary: #295EC6;
$OnSurface: #1D1D1D;
$Secondary: #6A6A6A;
$Secondary2: #B7B7B7;
$SurfaceMain: #ffffff;
$Surface: #F7F7F7;
$Interactive: #1977BB;
$Critical: #DF4949;
$Warning: #FFBD0C;
$Success: #47A432;
$Highlight: #1E58C8;
$Decorative: linear-gradient(to top right, #4B50E6, #E250E5);
$Rose: #F27B85;
$Line: #E5E5E5;
$PinkDark: #F4407D;
$Supplementary: #1BBBD0;
$Instagram: linear-gradient(to top right, #FFDD55, #FF543E, #C837AB);
$ListBackground: #1B4AA5;
$RedOrange: #E6703D;
$GreenDark: #19553C;
$Green: #99BA3C;
$Pink: #EE6E90;
$Cyan: #39A196;
$Orange:#1454B3;